<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Management</title>
</head>
<body>
<h1>Category Management</h1>
<a href="/admin/categories/new">Add New Category</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>설명</th>
        <th>Actions</th>
    </tr>
    </thead>
   <tbody>
    <tr th:each="category : ${categories}">
    <td th:text="${category.categoryId}"></td>
    <td th:text="${category.name}"></td>
    <td th:text="${category.description}"></td>
<td>
        <a th:href="@{/admin/categories/edit/{id}(id=${category.categoryId})}">Edit</a>
        <form style="display:inline;" data-id="[[${category.categoryId}]]">
         <button type="button" th:data-category-id="${category.categoryId}" onclick="deleteCategory(this)">삭제</button>

        </form>


</tr>
    </tbody>
    
</table>
<script src="/js/admin/deleteCategory.js"></script>
</body>
</html>