<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리 수정</title>
</head>
<body>
    <h1>카테고리 수정</h1>
    <form th:action="@{/admin/categories/edit/{id}(id=${category.categoryId})}" 
    th:object="${category}" method="post">
        <label>이름:</label>
        <input type="text" th:field="*{name}" required />
        <br />
        <label>설명:</label>
        <textarea th:field="*{description}" required></textarea>
        <br/>
        <button type="submit">저장</button>
    </form>
</body>
</html>