<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경매현황</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>경매현황</h1>
        <div>
        	<label>
        		<input type="checkbox" id="statusONGOING" onclick="filterTransactions()">
        경매 진행중 </label>
    <label>
        <input type="checkbox" id="statusCOMPLETED" onclick="filterTransactions()">
        거래 완료</label>
    <label>
        <input type="checkbox" id="statusBIDDING_END" onclick="filterTransactions()">
        경매 완료 </label>
        </div>
           <div>
        <label for="sortFilter">정렬 기준:</label>
        <select id="sortFilter" onchange="filterTransactions()">
            <option value="latest" selected>낙찰일 최신 순</option>
            <option value="oldest">낙찰일 오래된 순</option>
            <option value="highPrice">금액 높은 순</option>
            <option value="lowPrice">금액 낮은 순</option>
        </select>
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>판매자 ID</th>
                <th>판매자 이메일</th>
                <th>상품 이름</th>
                <th>낙찰가</th>
                <th>낙찰일</th>
                <th>낙찰자 이메일</th>
                <th>상태</th>
                </tr>
            </thead>
            <tbody id="transactionTable">
                  <tr th:each="transaction : ${transactions}" 
                  th:data-status="${transaction.status}"
                  th:data-finalprice="${transaction.finalPrice}" 
                  th:data-transactiondate="${transaction.transactionDate}">
                   <tr th:if="${#lists.isEmpty(transactions)}">
       				 <td colspan="7">거래 데이터가 없습니다.</td>
    				</tr>
    				  <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.sellerId}"></td>
                 <td th:text="${transaction.sellerEmail}"></td>
                <td th:text="${transaction.itemTitle}"></td>
                <td th:text="${transaction.finalPrice}"></td>
                <td th:text="${transaction.transactionDate}"></td>
                <td th:text="${transaction.buyerEmail}"></td> 
                <td>
                	<span th:if="${transaction.status == 'BIDDING_END'}">경매 완료</span>
                	<span th:if="${transaction.status == 'COMPLETED'}">거래 완료</span>
                	<span th:if="${transaction.status == 'ONGOING'}">경매 진행중</span>
                	<span th:if="${transaction.status == 'CANCELLED'}">경매 취소</span>
                	</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script src="/js/admin/transaction_filter.js"></script>
</body>
</html>

