.headerbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding-bottom: 10px;
    margin-top: 33px;
}
#header-css{
    background-color: #73b3fb54 !important;
}
.headerbar-logoname{
    font-size:30px;
    margin-left: 30px;
    font-weight: 600;
}
.headerbar-links {
    display: flex;
    gap: 30px;
    margin-right: 80px;
}

.headerbar-links a{
    font-size: 20px;
}

.headerbar-content a {
    text-decoration: none;
    color: black;
}

.navbar-content .logo {
    margin-left: 50px;
    width: 60px;
    height: 60px;
}
.headerbar-search{
    display: flex;
    margin: 0 auto;
    /*padding-left: 20%;*/
}
nav.topbar {
    margin-top: 30px;
}

.headerbar-search input{
    padding: 5px;
    font-size: 14px;
    width: 450px;
    /*border-radius: 10px;*/
    border: 1px solid black;
    border-right: none;
    height: 30px;
    outline: none;
}

.headerbar-searchImg{
    /*display: flex;*/
    padding-top: 10px;
    padding-right: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}