.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.navbar-links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 80px;
}

.navbar-content a {
    text-decoration: none;
    color: black;
}

.navbar-content .logo {
    margin-left: 50px;
    width: 60px;
    height: 60px;
}

nav.topbar {
    margin-top: 30px;
}

/*.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}*/

