<th:block th:fragment="header">
  <nav class="header bg-light p-3">
    <div class="d-flex justify-content-between align-items-center">
      <!-- 로고 -->
      <div class="d-flex align-items-center">
        <a href="/main" class="text-decoration-none fw-bold fs-4" style=color:black>
          망치 마켓
        </a>
      </div>

      <!-- 검색바 -->
      <form class="d-flex w-50" action="/items/list" method="GET" id="searchForm2">
        <input
                type="text"
                id="searchInput"
                name="search"
                class="form-control me-2"
                placeholder="상품명을 입력해주세요"
                th:value="${search}">
        <button type="submit" class="btn btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <!-- 정렬 관련 파라미터 숨김 입력 -->
        <input type="hidden" name="sortBy" th:value="${sortBy}">
        <input type="hidden" name="direction" th:value="${direction}">
        <input type="hidden" name="status" th:value="${status}">
        <input type="hidden" name="categoryId" th:value="${categoryId}">
      </form>

      <!-- 링크 -->
      <div class="d-flex align-items-center gap-3">
        <a href="/items/create" class="text-decoration-none">판매하기</a>
        <!--<a href="#" class="text-decoration-none">
        </a>-->
      </div>
    </div>
  </nav>
</th:block>
