<th:block th:fragment="topbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="topbar">
        <div class="navbar-content">
            <a th:href="@{'/items/list'}">
                <img th:src="@{/img/logo.png}" alt="로고" class="logo">
            </a>
            <div class="navbar-links">
                <!-- 채팅 링크 -->
                <a href="#" th:href="@{/chat}" class="d-flex align-items-center">
                    <img th:src="@{/img/chat.png}" alt="채팅" class="chat-icon" style="width: 30px; height: 25px;">
                </a>
                <a th:href="@{'/profile/myProfile'}">내정보</a>
                <a th:href="@{/cart}">장바구니</a>
                <a href="/logout">로그아웃</a>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a href="/login">로그인</a>
            </div>
        </div>
    </nav>
</th:block>
