<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 별 입찰 내역</title>
    <link rel="stylesheet" href="/css/fragments/topbar.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/bid/bidsByItem.css">
</head>
<body>
<div th:insert="~{'fragments/topbar' :: topbar}"></div>
<div th:insert="~{'fragments/header' :: header}"></div>

<div class="bids-by-item-container">
    <div th:insert="~{'fragments/sidebar' :: sidebar}"></div>

    <div class="bids-by-item-title">
        <h2 th:text="'제목 : ' + ${firstBid.title}"></h2>
        <div class="bids-item-status">
            <p class="bids-by-item-createAt" th:text="'게시 날짜 : ' + ${firstBid.createAt} + ' | 판매자 : ' + ${firstBid.username}"></p>
            <img th:src="@{${firstBid.imageUrl}}" alt="상품 이미지" class="product-image">
            <p class="bids-by-item-description" th:text="${firstBid.description}"></p>
        </div>
    </div>

    <div class="bids-list">
        <h3>입찰 내역</h3>
        <div th:each="bid : ${bids}" class="bid-entry">
            <span class="bid-username" th:text="${bid.username}"></span>
            <span class="bid-amount" th:text="${bid.bidAmount}"></span>
        </div>
    </div>

</div>
</body>
</html>
