<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입찰 내역</title>
    <link rel="stylesheet" href="/css/bidsByUser.css">
</head>
<body>
<div class="container" th:attr="data-user-id=${userId}">

    <div class="sort-bar">
        <label for="sortSelect">정렬</label>
        <select id="sortSelect">
            <option value="" disabled selected>정렬</option>
            <option value="myPrice_asc">입찰가 오름차순</option>
            <option value="myPrice_desc">입찰가 내림차순</option>
        </select>
    </div>

    <h2 class="table-title">*입찰 내역</h2>
    <div class="bid-list">
        <table id="bidTable" class="bid-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>이미지</th>
                <th>물품명</th>
                <th>내 입찰</th>
                <th>현재가</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bid, stat : ${bids.content}">
                <td th:text="${(bids.number * bids.size) + stat.count}">1</td>
                <td>
                    <img th:src="${bid.img}" alt="상품 이미지" class="item-img"/>
                </td>
                <td th:text="${bid.itemName}">상품명</td>
                <td th:text="${bid.myPrice}">내 입찰가</td>
                <td th:text="${bid.currentPrice}">현재가</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="pagination">
        <ul>
            <li th:classappend="${bids.number == 0} ? 'disabled' : ''">
                <a th:href="@{/bid/user/{userId}(userId=${userId}, page=0, sort=${sortParam})}" th:text="'<<'"></a>
            </li>

            <!-- 이전 페이지로 이동 -->
            <li th:classappend="${bids.hasPrevious()} ? '' : 'disabled'">
                <a th:href="@{/bid/user/{userId}(userId=${userId}, page=${bids.number - 1}, sort=${sortParam})}" th:text="'<'"></a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="i : ${#numbers.sequence(0, bids.totalPages - 1)}"
                th:classappend="${bids.number == i} ? 'active' : ''">
                <a th:href="@{/bid/user/{userId}(userId=${userId}, page=${i}, sort=${sortParam})}" th:text="${i + 1}"></a>
            </li>

            <!-- 다음 페이지로 이동 -->
            <li th:classappend="${bids.hasNext()} ? '' : 'disabled'">
                <a th:href="@{/bid/user/{userId}(userId=${userId}, page=${bids.number + 1}, sort=${sortParam})}" th:text="'>'"></a>
            </li>

            <!-- 마지막 페이지로 이동 -->
            <li th:classappend="${bids.number == bids.totalPages - 1} ? 'disabled' : ''">
                <a th:href="@{/bid/user/{userId}(userId=${userId}, page=${bids.totalPages - 1}, sort=${sortParam})}" th:text="'>>'"></a>
            </li>

        </ul>
    </div>


</div>

<script src="/js/bid/bidsByUser.js"></script>
</body>
</html>
